<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9eb7">  <td>18/12/20 17:20:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MigPostToPost.setUpBeforeClass()[pri:0, instance:gui.tests.MigPostToPost@2b71e916]">&gt;&gt;setUpBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@612097453</td>   <td></td> </tr>
<tr bgcolor="dd9eb7">  <td>18/12/20 17:20:35</td>   <td>1088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MigPostToPost.test()[pri:0, instance:gui.tests.MigPostToPost@2b71e916]">test</td> 
  <td>main@612097453</td>   <td></td> </tr>
</table>
