<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf9bbf">  <td>18/12/04 12:31:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MigPostToPost.setUpBeforeClass()[pri:0, instance:gui.tests.MigPostToPost@184f6be2]">&gt;&gt;setUpBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>18/12/04 12:31:22</td>   <td>696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MigPostToPost.test()[pri:0, instance:gui.tests.MigPostToPost@184f6be2]">test</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>18/12/04 12:31:37</td>   <td>15534</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PPD_Login.setUpBeforeClass()[pri:0, instance:gui.tests.PPD_Login@56aac163]">&gt;&gt;setUpBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>18/12/04 12:31:37</td>   <td>16170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PPD_Login.test()[pri:0, instance:gui.tests.PPD_Login@56aac163]">test</td> 
  <td>main@1752203484</td>   <td></td> </tr>
</table>
